In [17]:
import influxdb_client
from influxdb_client.client.write_api import SYNCHRONOUS
import pandas as pd

bucket = "radial_forge_v2"
org = "NMIS"
token = "JvkuMiOPtflX8SceVhrb5Gl3_8YZaAfoiQTrmwSnG3x9mDjOcJeyz9pa88CUfqpzMZKXBK4CFcH5ILB53K4nNA=="

# Store the URL of your InfluxDB instance
url="http://localhost:8086"

#Instantiate the client
client = influxdb_client.InfluxDBClient(
    url=url,
    token=token,
    org=org
)

# Instantiate the query client
query_api = client.query_api()

# Create a Flux query
query = 'from(bucket: "radial_forge_v2")\
  |> range(start:-5m)\
  |> filter(fn: (r) => r["_measurement"] == "forge-data-v1")\
  |> filter(fn: (r) => r["_field"] == "SBA_NomPos [mm]")\
  |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")'

# Pass the query method to create dataframe using the query client
forge_table = query_api.query_data_frame(org=org, query=query)
display(forge_table.head())

,result,table,_start,_stop,_time,_measurement,SBA_NomPos [mm]
0,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.073036+00:00,forge-data-v1,247.690231
1,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.083279+00:00,forge-data-v1,247.690704
2,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.093231+00:00,forge-data-v1,247.691101
3,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.102920+00:00,forge-data-v1,247.691422
4,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.112790+00:00,forge-data-v1,247.691681

In [18]:
forge_table

,result,table,_start,_stop,_time,_measurement,SBA_NomPos [mm]
0,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.073036+00:00,forge-data-v1,247.690231
1,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.083279+00:00,forge-data-v1,247.690704
2,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.093231+00:00,forge-data-v1,247.691101
3,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.102920+00:00,forge-data-v1,247.691422
4,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:20:17.112790+00:00,forge-data-v1,247.691681
...,...,...,...,...,...,...,...
29610,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:25:17.015378+00:00,forge-data-v1,247.692871
29611,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:25:17.025221+00:00,forge-data-v1,247.692871
29612,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:25:17.035255+00:00,forge-data-v1,247.692871
29613,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:25:17.045049+00:00,forge-data-v1,247.692871
29614,_result,0,2022-10-11 12:20:17.064779+00:00,2022-10-11 12:25:17.064779+00:00,2022-10-11 12:25:17.055285+00:00,forge-data-v1,247.692871

In [19]:
# Preparing Dataframe: 
forge_table = forge_table.drop(columns=['result', 'table', '_start', '_stop'])

# DataFrame must have the timestamp column as an index for the client. 
forge_table.set_index('_time', drop =True, inplace =True)
forge_table

                                   _measurement  SBA_NomPos [mm]
_time
2022-10-11 12:20:17.073036+00:00  forge-data-v1       247.690231
2022-10-11 12:20:17.083279+00:00  forge-data-v1       247.690704
2022-10-11 12:20:17.093231+00:00  forge-data-v1       247.691101
2022-10-11 12:20:17.102920+00:00  forge-data-v1       247.691422
2022-10-11 12:20:17.112790+00:00  forge-data-v1       247.691681
...                                         ...              ...
2022-10-11 12:25:17.015378+00:00  forge-data-v1       247.692871
2022-10-11 12:25:17.025221+00:00  forge-data-v1       247.692871
2022-10-11 12:25:17.035255+00:00  forge-data-v1       247.692871
2022-10-11 12:25:17.045049+00:00  forge-data-v1       247.692871
2022-10-11 12:25:17.055285+00:00  forge-data-v1       247.692871

[29615 rows x 2 columns]

In [20]:
# writing data to influxdb database
write_api = client.write_api(write_options=SYNCHRONOUS)
write_api.write(bucket=bucket, org=org, record=forge_table, data_frame_measurement_name='forge-data-python',
                    data_frame_tag_columns=['SBA_NomPos'])