In [5]:
import influxdb_client
import pandas as pd

bucket = "radial_forge_v2"
org = "NMIS"
token = "JvkuMiOPtflX8SceVhrb5Gl3_8YZaAfoiQTrmwSnG3x9mDjOcJeyz9pa88CUfqpzMZKXBK4CFcH5ILB53K4nNA=="

# Store the URL of your InfluxDB instance
url="http://localhost:8086"

#Instantiate the client
client = influxdb_client.InfluxDBClient(
    url=url,
    token=token,
    org=org
)

# Instantiate the query client
query_api = client.query_api()

# Create a Flux query
query = 'from(bucket: "radial_forge_v2")\
  |> range(start:-5m)\
  |> filter(fn: (r) => r["_measurement"] == "forge-data-v1")\
  |> filter(fn: (r) => r["_field"] == "SBA_NomPos [mm]")\
  |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")'

# Pass the query method to create dataframe using the query client
forge_tabel = query_api.query_data_frame(org=org, query=query)
display(forge_tabel.head())

,result,table,_start,_stop,_time,_measurement,SBA_NomPos [mm]
0,_result,0,2022-10-11 09:48:28.859767+00:00,2022-10-11 09:53:28.859767+00:00,2022-10-11 09:48:28.867588+00:00,forge-data-v1,247.692871
1,_result,0,2022-10-11 09:48:28.859767+00:00,2022-10-11 09:53:28.859767+00:00,2022-10-11 09:48:28.877264+00:00,forge-data-v1,247.692871
2,_result,0,2022-10-11 09:48:28.859767+00:00,2022-10-11 09:53:28.859767+00:00,2022-10-11 09:48:28.888933+00:00,forge-data-v1,247.692871
3,_result,0,2022-10-11 09:48:28.859767+00:00,2022-10-11 09:53:28.859767+00:00,2022-10-11 09:48:28.898864+00:00,forge-data-v1,247.692871
4,_result,0,2022-10-11 09:48:28.859767+00:00,2022-10-11 09:53:28.859767+00:00,2022-10-11 09:48:28.908153+00:00,forge-data-v1,247.692871

In [6]:
system_stats

,result,table,_start,_stop,_time,_measurement,SBA_NomPos [mm]
0,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:42:29.587301+00:00,forge-data-v1,247.692871
1,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:42:29.595508+00:00,forge-data-v1,247.692871
2,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:42:29.607936+00:00,forge-data-v1,247.692871
3,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:42:29.617784+00:00,forge-data-v1,247.692871
4,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:42:29.627731+00:00,forge-data-v1,247.692871
...,...,...,...,...,...,...,...
29434,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:47:29.532535+00:00,forge-data-v1,247.692871
29435,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:47:29.544652+00:00,forge-data-v1,247.692871
29436,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:47:29.552005+00:00,forge-data-v1,247.692871
29437,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:47:29.562178+00:00,forge-data-v1,247.692871
29438,_result,0,2022-10-11 09:42:29.579645+00:00,2022-10-11 09:47:29.579645+00:00,2022-10-11 09:47:29.572491+00:00,forge-data-v1,247.692871