In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import sys
sys.path.append('../src/data')
from utils import *

In [3]:
root_img = '../data/raw/'
root_annotation = '../data/processed/img-all/Annotations/'

df = generate_df(root_annotation, root_img)

In [4]:
df.head()

,filename,width,height,class,bboxes
0,../data/raw/2021-11-19_2_bolts_0020.jpg,4032,3024,Bolt,"[[2851, 1947, 3051, 2141], [751, 1847, 950, 20..."
1,../data/raw/2021-10-29_1_bolts_0034.jpg,4032,3024,Bolt,"[[3555, 2415, 3760, 2614]]"
2,../data/raw/2021-11-19_1_bolts_0057.jpg,1512,2016,Bolt,"[[568, 149, 667, 253]]"
3,../data/raw/2021-11-19_2_bolts_0019.jpg,1512,2016,Bolt,"[[568, 130, 664, 223], [1276, 1224, 1373, 1324]]"
4,../data/raw/2021-10-29_2_bolts_0006.jpg,4032,3024,Bolt,"[[486, 529, 686, 728], [1509, 544, 1704, 748]]"

In [5]:
df = df.dropna()

In [6]:
df = df.reset_index(drop=True)

In [7]:
len(df)

179

In [8]:
# Hard code for split function. When the files stored within different directory with '_', it will have different number.
def bolts_count(x):
    
    return int(str(x).split('_')[1])

In [9]:
df['total_bolts'] = df.filename.apply(bolts_count)

In [10]:
df.head()

,filename,width,height,class,bboxes,total_bolts
0,../data/raw/2021-11-19_2_bolts_0020.jpg,4032,3024,Bolt,"[[2851, 1947, 3051, 2141], [751, 1847, 950, 20...",2
1,../data/raw/2021-10-29_1_bolts_0034.jpg,4032,3024,Bolt,"[[3555, 2415, 3760, 2614]]",1
2,../data/raw/2021-11-19_1_bolts_0057.jpg,1512,2016,Bolt,"[[568, 149, 667, 253]]",1
3,../data/raw/2021-11-19_2_bolts_0019.jpg,1512,2016,Bolt,"[[568, 130, 664, 223], [1276, 1224, 1373, 1324]]",2
4,../data/raw/2021-10-29_2_bolts_0006.jpg,4032,3024,Bolt,"[[486, 529, 686, 728], [1509, 544, 1704, 748]]",2

In [11]:
df.to_csv('~/work/digf-coref/data/interim/dataset.csv', index=False)