In [1]:
#import required libraries
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [2]:
# read the spreadsheet containing all the data
scot_mfg_df = pd.read_csv('/raid/nmis-ddm/dscih-datacity/companieslist_financialsColumnLayout_.csv')

# User defined columns
col = ['Companyname', 'BestEstimateEmployees', 'BestEstimateTurnover','OECDcities','Postcodes','UltimateParentCompany',
      'Numberofemployees_2016','Numberofemployees_2017','Numberofemployees_2018', 'Numberofemployees_2019','Numberofemployees_2020',
      'Turnover_2016','Turnover_2017','Turnover_2018','Turnover_2019','Turnover_2020','Sectorkeywords','RTICsubsectors',
      'BestEstimateGrowthPercentagePerYear','IncorporationDate','TotalDealroomFundingMillionEuros']

# Seperate the defined columns and rename
scot_mfg_df = scot_mfg_df[col]
scot_mfg_df.groupby("OECDcities", group_keys=True).apply(lambda x: x)
scot_mfg_df

,Companyname,BestEstimateEmployees,BestEstimateTurnover,OECDcities,Postcodes,UltimateParentCompany,Numberofemployees_2016,Numberofemployees_2017,Numberofemployees_2018,Numberofemployees_2019,...,Turnover_2016,Turnover_2017,Turnover_2018,Turnover_2019,Turnover_2020,Sectorkeywords,RTICsubsectors,BestEstimateGrowthPercentagePerYear,IncorporationDate,TotalDealroomFundingMillionEuros
0,JWG INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2014-08-21,NaN
1,WOOD GROUP POWER INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2013-07-11,NaN
2,PSN (PHILIPPINES) LIMITED,5,207038,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2008-07-10,NaN
3,PSN OVERSEAS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2007-03-26,NaN
4,WOOD GROUP INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2006-05-08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,AL ENGINEERS LIMITED,1,50000,Glasgow,G41 1NT,NaN,NaN,0.0,1.0,1.0,...,NaN,0.0,0.0,0.0,0.0,NaN,"Digital Design, Engineering Consulting",0.000,2017-04-12,NaN
730,A STEEL LP,0,0,Edinburgh,EH3 6SW,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Forging,NaN,2016-09-20,NaN
731,5G TECHNOLOGIES LIMITED,1,65000,Glasgow,G2 4JR,NaN,NaN,0.0,1.0,NaN,...,NaN,68500.0,65000.0,NaN,NaN,NaN,"Energy Management, Digital Twins, Digital Twins",-0.008,2017-06-28,NaN
732,3D STUFF LIMITED,1,65000,Edinburgh,EH5 1PP,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,Prototyping,0.000,2018-01-05,NaN
733,3D ME LP,0,0,Edinburgh,EH5 1BN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Prototyping,NaN,2015-11-10,NaN

In [3]:
pc_idx=[]
for i in range (len(scot_mfg_df)):
   
    postcodes = str(scot_mfg_df['Postcodes'].values[i]).split(',')
    selected_postcode = [item for item in postcodes if item.startswith('AB')or item.startswith('DD') or 
                         item.startswith('PH')or item.startswith('IV') or item.startswith('KW')or
                         item.startswith('HS')or item.startswith('ZE')or item.startswith('KA')or
                         item.startswith('EH') or (item.startswith('G') and item[1].isdigit())]
    if len(selected_postcode)==0: 
        pc_idx.append(i)
    else:
        scot_mfg_df['Postcodes'].values[i] = selected_postcode[0]
        
scot_mfg_df.drop(scot_mfg_df.index[pc_idx], axis=0, inplace=True)
scot_mfg_df.reset_index(drop=True, inplace=True)
scot_mfg_df

,Companyname,BestEstimateEmployees,BestEstimateTurnover,OECDcities,Postcodes,UltimateParentCompany,Numberofemployees_2016,Numberofemployees_2017,Numberofemployees_2018,Numberofemployees_2019,...,Turnover_2016,Turnover_2017,Turnover_2018,Turnover_2019,Turnover_2020,Sectorkeywords,RTICsubsectors,BestEstimateGrowthPercentagePerYear,IncorporationDate,TotalDealroomFundingMillionEuros
0,JWG INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2014-08-21,NaN
1,WOOD GROUP POWER INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2013-07-11,NaN
2,PSN (PHILIPPINES) LIMITED,5,207038,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2008-07-10,NaN
3,PSN OVERSEAS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2007-03-26,NaN
4,WOOD GROUP INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2006-05-08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,AL ENGINEERS LIMITED,1,50000,Glasgow,G41 1NT,NaN,NaN,0.0,1.0,1.0,...,NaN,0.0,0.0,0.0,0.0,NaN,"Digital Design, Engineering Consulting",0.000,2017-04-12,NaN
715,A STEEL LP,0,0,Edinburgh,EH3 6SW,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Forging,NaN,2016-09-20,NaN
716,5G TECHNOLOGIES LIMITED,1,65000,Glasgow,G2 4JR,NaN,NaN,0.0,1.0,NaN,...,NaN,68500.0,65000.0,NaN,NaN,NaN,"Energy Management, Digital Twins, Digital Twins",-0.008,2017-06-28,NaN
717,3D STUFF LIMITED,1,65000,Edinburgh,EH5 1PP,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,Prototyping,0.000,2018-01-05,NaN
718,3D ME LP,0,0,Edinburgh,EH5 1BN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Prototyping,NaN,2015-11-10,NaN

In [4]:
#Intialise geolocator and arrays to find latitiude and longitide for given postcodes
geolocator = Nominatim(timeout=10, user_agent="PDS")
location_latitude = []
location_longitude = [] 
idx=[]

for i in range(len(scot_mfg_df)):
    try:
        location = geolocator.geocode(scot_mfg_df["Postcodes"][i])
        location_latitude.append(location.latitude)
        location_longitude.append(geolocator.geocode(scot_mfg_df["Postcodes"][i]).longitude)
    except:
        print(scot_mfg_df["Postcodes"][i]+',location not found')
        idx.append(i)
        
# Remove rows with undefined locations        
scot_mfg_df.drop(scot_mfg_df.index[idx], axis=0, inplace=True)
scot_mfg_df['latitude'] = location_latitude
scot_mfg_df['longitude'] = location_longitude

G64 2HX,location not found
AB21 7HN,location not found
G72 7ED,location not found
AB43 9BZ,location not found
AB43 9BZ,location not found
G2 4JE,location not found
EH3 7LH,location not found
DD4 7BT,location not found
EH7 4HH,location not found

In [5]:
scot_mfg_df

,Companyname,BestEstimateEmployees,BestEstimateTurnover,OECDcities,Postcodes,UltimateParentCompany,Numberofemployees_2016,Numberofemployees_2017,Numberofemployees_2018,Numberofemployees_2019,...,Turnover_2018,Turnover_2019,Turnover_2020,Sectorkeywords,RTICsubsectors,BestEstimateGrowthPercentagePerYear,IncorporationDate,TotalDealroomFundingMillionEuros,latitude,longitude
0,JWG INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2014-08-21,NaN,57.142524,-2.109737
1,WOOD GROUP POWER INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2013-07-11,NaN,57.142524,-2.109737
2,PSN (PHILIPPINES) LIMITED,5,207038,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2008-07-10,NaN,57.142524,-2.109737
3,PSN OVERSEAS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2007-03-26,NaN,57.142524,-2.109737
4,WOOD GROUP INVESTMENTS LIMITED,0,0,Aberdeen,AB11 6EQ,JOHN WOOD GROUP PLC,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,"engineering,energy,industry,low carbon,digital...","Robotics and Automation, Engineering Research",NaN,2006-05-08,NaN,57.142524,-2.109737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,AL ENGINEERS LIMITED,1,50000,Glasgow,G41 1NT,NaN,NaN,0.0,1.0,1.0,...,0.0,0.0,0.0,NaN,"Digital Design, Engineering Consulting",0.000,2017-04-12,NaN,55.844800,-4.273360
715,A STEEL LP,0,0,Edinburgh,EH3 6SW,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Forging,NaN,2016-09-20,NaN,55.957908,-3.203385
716,5G TECHNOLOGIES LIMITED,1,65000,Glasgow,G2 4JR,NaN,NaN,0.0,1.0,NaN,...,65000.0,NaN,NaN,NaN,"Energy Management, Digital Twins, Digital Twins",-0.008,2017-06-28,NaN,55.865441,-4.269115
717,3D STUFF LIMITED,1,65000,Edinburgh,EH5 1PP,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,NaN,Prototyping,0.000,2018-01-05,NaN,55.983230,-3.232854
718,3D ME LP,0,0,Edinburgh,EH5 1BN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Prototyping,NaN,2015-11-10,NaN,55.979110,-3.223120

In [6]:
scot_mfg_df.to_pickle('interim/scot_adv_mfg_df.pkl')